@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <a href="~/Racun/ReadRacun">Racun</a><br />
    <a href="~/Proizvod/ReadProizvod">Proizvod</a><br />
    <a href="~/RegistrovaniKupac/ReadRegistrovaniKupac">Registrovani kupac</a>

</body>
</html>