@using KlaseService_Data
@model IEnumerable<KlaseService_Data.RegistrovaniKupac>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h3>Lista svih kupaca</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Popust pri kupovini</th>
            <th>Naziv kupca</th>
            <th>Prezime kupca</th>
        </tr>

        @foreach (var regkupac in Model)
        {
            <tr>
                <td>@regkupac.RowKey</td>
                <td>@regkupac.PopustPriKupovini</td>
                <td>@regkupac.NazivKupca</td>
                <td>@regkupac.PrezimeKupca</td>
                <td><a href="~/RegistrovaniKupac/DeleteRegistrovaniKupac?RowKey=@regkupac.RowKey">Obrisi</a></td>
                <td><a href="~/RegistrovaniKupac/UpDateRegistrovaniKupac?id=@regkupac.RowKey">Izmeni</a></td>
            </tr>
        }
    </table>
    <br />


    <a href="~/RegistrovaniKupac/CreateRegistrovaniKupac">Kreiraj kupca</a><br />
    <a href="~/Home/Index">Nazad na pocetak</a>

</body>
</html>
